<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add
		  name="LocomotivDb"
		  connectionString="Data Source=%APPDATA%\Locomotiv\Locomotiv.db;"
		  providerName="System.Data.SQLite" />
	</connectionStrings>

	<appSettings>
		<add key="AdminPassword" value="adminpass"/>
	</appSettings>

</configuration>