name: Release TP3

on:
  push:
    tags:
      - "TP3-V*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: windows-latest

    env:
      CONFIGURATION: Release
      RUNTIME: win-x64
      PUBLISH_DIR: ./publish

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "6.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish WPF app self-contained
        run: >
          dotnet publish ./Locomotiv/Locomotiv.csproj
          -c $env:CONFIGURATION
          -r $env:RUNTIME
          --self-contained true
          -p:PublishSingleFile=true
          -p:IncludeAllContentForSelfExtract=true
          -o $env:PUBLISH_DIR

      - name: Archive published app
        shell: pwsh
        run: |
          $tag = "${{ github.ref_name }}"
          Compress-Archive -Path "$env:PUBLISH_DIR\*" -DestinationPath "Locomotiv-TP3-$tag.zip"

           - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: Locomotiv-TP3-${{ github.ref_name }}
          path: Locomotiv-TP3-${{ github.ref_name }}.zip
y
